<p>product works!</p>
<h1>Product Component</h1>

<button type="button"   (click)="getAllProducts()" >Show All Products</button>

<!-- <h1>{{productList | json}}</h1> -->

<div class="container  col-md-4">
<table  class="table table-dark">

<thead>
<tr><th>ID</th><th>NAME</th><th>PRICE</th></tr>
</thead>

<tr *ngFor="let product of  productList">
 <td>{{product.id}}</td><td>{{product.name}}</td><td>{{product.price}}</td> 
 <td><button type="button" class="btn btn-danger"   (click)="deleteById(product.id)">Delete</button></td> 
</tr>


</table>

</div>

<form  #formData="ngForm" (ngSubmit)="getByName(formData.value.name)" >

    Enter PNAME : <input type="text" name="name" ngModel> <br>

    <button type="submit">Add Product</button>

</form>
<div class="container  col-md-4">
<table  class="table table-dark">
<thead>
    <tr><th>ID</th><th>NAME</th><th>PRICE</th></tr>
    </thead>
    
    <tr *ngFor="let prod of  productByName">
     <td>{{prod.id}}</td><td>{{prod.name}}</td><td>{{prod.price}}</td> 
      
    </tr>
    
    
    </table>
</div>






