<!--to add or remove something-->
<h1 *ngIf="true" >Hello Friends</h1>
<h2 *ngIf="5>3">Welcome to Angular</h2>


<!--switch case-->

Enter Choice: <input type="text" [(ngModel)]="num1">
<div [ngSwitch]="num1">
  <div *ngSwitchCase="1">One is selected</div>
  <div *ngSwitchCase="2">Two is selected</div>

  <div *ngSwitchDefault>Default is  here</div>

</div>


Enter Tech: <input type="text" [(ngModel)]="tech">
<div [ngSwitch]="tech">
  <div *ngSwitchCase="'java'"><img src="../assets/java.png" alt=""></div>
  <div *ngSwitchCase="'net'"><img src="../assets/net.png" alt=""></div>
  <div *ngSwitchCase="'python'"><img src="../assets/Python-Logo.png" alt=""></div>
  <div *ngSwitchCase="'mysql'"><img src="../assets/Mysql_logo.png" alt=""></div>
  <div *ngSwitchDefault>This technology is not available in our database</div>
</div>


<div *ngFor="let i of arr; let j = index">Welcome{{i}} index{{j}}</div>

<h2 [ngStyle]="{'color':textColor , 'background-color': bgColor}">This is CSS</h2>

<div [ngClass]="'isSpecial' ? 'cls1' : 'cls2'">This div is special</div>


<h1 ngNonBindable>Hello {{friends}}</h1>

<div class="card card-block" appCardHover>Card Hover Directive </div>

