
<div class="form">
<form   [formGroup]="registerForm"      (ngSubmit)="onSubmit()" >

  <div >
         <label>Name</label>  
         <input type="text"  formControlName="name"  class="form-control" [ngClass]="{'is-invalid':submitted && f['name'].errors}" >
         <div *ngIf="submitted && f['name'].errors" class="invalid-feedback"></div>
         <div style="color: red;"  *ngIf="f['name'].errors?.['required']">Full Name is required</div>
 </div>
 
 
 
 <div >
     <label>Email</label>  
     <input type="text"  formControlName="email"  class="form-control" [ngClass]="{'is-invalid':submitted && f['email'].errors}" >
     <div *ngIf="submitted && f['email'].errors" class="invalid-feedback"></div>
     <div style="color: red;"  *ngIf="f['email'].errors?.['required']">Email is required</div>
     <div  style="color: red;"  *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
 </div>
 
 
 <div >
     <label>Password </label>  
     <input type="text"  formControlName="password"  class="form-control" [ngClass]="{'is-invalid':submitted && f['password'].errors}" >
     <div *ngIf="submitted && f['password'].errors" class="invalid-feedback"></div>
     <div style="color: red;"  *ngIf="f['password'].errors?.['required']">Password is required</div>
 </div>

 <div >
  <label>Gender</label>  
  <input type="text"  formControlName="gender"  class="form-control" [ngClass]="{'is-invalid':submitted && f['gender'].errors}" >
  <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback"></div>
  <div style="color: red;"  *ngIf="f['gender'].errors?.['required']">Compulsory</div>
</div>

<div >
  <label>Contact</label>  
  <input type="text"  formControlName="contact"  class="form-control" [ngClass]="{'is-invalid':submitted && f['contact'].errors}" >
  <div *ngIf="submitted && f['contact'].errors" class="invalid-feedback"></div>
  <div style="color: red;"  *ngIf="f['contact'].errors?.['required']">Providing Contact number is necessary</div>
</div>

 <div >
  <label>Address </label>  
  <input type="text"  formControlName="address"  class="form-control" [ngClass]="{'is-invalid':submitted && f['address'].errors}" >
  <div *ngIf="submitted && f['address'].errors" class="invalid-feedback"></div>
  <div style="color: red;"  *ngIf="f['address'].errors?.['required']">Address is required</div>
</div>

 
 
 
 
     <button type="submit"     [disabled]="registerForm.invalid">Register</button>
 
 </form>
</div>